<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Little - Dinosaur</title>

  <link href="http://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/5.10.0-11/css/fontawesome.min.css" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-dark fixed-top flex-md-nowrap header">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
  <img src="{{ url_for('static', filename='img/logo.jpg') }}" width="35" height="35"
    class="d-inline-block align-top rounded-circle">
  <span class="ml-1">Little Dinosaur</span> 
  </a>
</nav>
<!-- header nav end -->

<div class="container-fluid" style="background-color: #f0f4f5;">
  <div class="row">
    <nav class="col-md-2 px-0 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          {% block sidebar_nav %}
          {% endblock %}
        </ul>
      </div>
    </nav>
    <!-- sidebar nav end -->

    <main role="main" class="col-10 px-5 ml-auto" style="padding-top:60px;">
      {% block content %}
      {% endblock %}
    </main>
    <!-- main end  -->
  </div>
  <!-- row end  -->
</div>
<!-- container-fluid -->

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>