{%extends "base.html"%}

{% block sidebar_nav %}
<li class="nav-item">
  <a class="nav-link active" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
    Home
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-bar-chart-2">
      <line x1="18" y1="20" x2="18" y2="10"></line>
      <line x1="12" y1="20" x2="12" y2="4"></line>
      <line x1="6" y1="20" x2="6" y2="14"></line>
    </svg>
    Reports
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/predict">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
    viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-users">
    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
    <circle cx="9" cy="7" r="4"></circle>
    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
  </svg>
  Predict
  </a>
</li>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb px-0" style="background-color: #f0f4f5">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<!-- breadcrumb -->

<div class="border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="col-3">各大网站互联网岗位对比</h4>
  <div class="btn-group d-flex">
    <button class="btn btn-sm btn-outline-secondary" style="font-size:13px">平均薪资</button>
    <button class="btn btn-sm btn-outline-secondary" style="font-size:13px">岗位数量</button>
  </div>
</div>
<!-- comp bar chart header -->

<div id="comp" class="mt-4" style="width:100%;height:400px;"></div>
<!-- comp bar chart -->

<div class="pt-5 pb-2 row d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="col-2">各互联网岗位情况</h4>
</div>
<!-- 岗位 tabel header end -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>岗位名称</th>
      <th>平均薪资/月</th>
      <th>岗位总数量</th>
      <th>岗位数量最多的城市</th>
      <th>详情</th>
    </tr>
  </thead>
  <tbody>
    {% for station in station_list %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ station.station_name }}</td>
      <td>{{ station.mean_salary }}</td>
      <td>{{ station.count }}</td>
      <td>{{ station.max_count_city }}  {{ station.max_count }}/{{ station.count }}</td>
      <td><a class="btn btn-primary btn-sm" href="/station_detail"> 详情 </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- table end -->
{% endblock %}

{% block styles %}
<!-- 越后面加载，优先级越高 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
<script>
$.ajax({
  type: 'GET',
  url: '',
  dataType: 'json',
  success: function(data){
  },
  error: function(data){
  }
});
</script>
<script src="{{ url_for('static', filename='js/comp_bar.js') }}"></script>
{% endblock %}
