{%extends "base.html"%}

{% block sidebar_nav %}
<li class="nav-item">
  <a class="nav-link active" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
    Home
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-bar-chart-2">
      <line x1="18" y1="20" x2="18" y2="10"></line>
      <line x1="12" y1="20" x2="12" y2="4"></line>
      <line x1="6" y1="20" x2="6" y2="14"></line>
    </svg>
    Reports
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/predict">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
    viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-users">
    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
    <circle cx="9" cy="7" r="4"></circle>
    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
  </svg>
  Predict
  </a>
</li>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb px-0" style="background-color: #f0f4f5">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">station_detail</li>
  </ol>
</nav>

<div class="row border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="">{{ station_info.station_name }}各城市分布情况</h4>
</div>
<!-- city map header end -->

<div id="city" class="mt-4" style="width:100%;height:600px;"></div>
<!-- city map end -->

<div class="row border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="">各城市房价水平(地图)</h4>
</div>

<div class="row border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="">学历对该岗位的影响(折线图)</h4>
</div>

<div class="row border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="">经验对该岗位的影响(折线图)</h4>
</div>

<div class="row border-bottom pt-3 pb-2 d-flex flex-wrap flex-md-nowrap align-items-center">
  <h4 class="">该岗位需要的能力和技术</h4>
</div>
{% endblock %}

{% block styles %}
<!-- 越后面加载，优先级越高 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
<!-- 百度地图API -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=k28IL6xxiNxtiR4RzXrOPwgOuNIA0QSL"></script>
<!-- 引入百度地图扩展 -->
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script src="{{ url_for('static', filename='js/station_map.js') }}"></script>
{% endblock %}
